---
---
/**
 * Auto Trader theme for reveal.js.
 */
// Default mixins and settings -----------------
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@font-face {
  font-family: 'at-fabriga-medium';
  src: url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.eot");
  src: url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.eot?#iefix") format("embedded-opentype"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.woff2") format("woff2"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.woff") format("woff"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.ttf") format("truetype"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: optional
}

@font-face {
  font-family: 'at-fabriga-regular';
  src: url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.eot");
  src: url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.eot?#iefix") format("embedded-opentype"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.woff2") format("woff2"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.woff") format("woff"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.ttf") format("truetype"), url("https://c.atcdn.co.uk/fonts/ATFabriga-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: optional
}

// Override theme settings (see settings.scss)
$mainFont: 'at-fabriga-regular', Helvetica, Arial, sans-serif;
$headingFont: 'at-fabriga-medium', Helvetica, Arial, sans-serif;

$backgroundColor: #FF4436;
$linkColor: #00D7D2;
$headingColor: #eee;

$heading1Size: 2.5em;
$heading2Size: 1.5em;
$heading3Size: 1.3em;
$heading4Size: 1.2em;

@import "at-theme/overrides";

// Theme template ------------------------------
@import "reveal.js/css/theme/template/theme";
// ---------------------------------------------