<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		{% if site.title %}<title>{{ site.title }}</title>{% endif %}

		{% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
		{% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{ site.reveal_path }}css/reveal.css">
		<link rel="stylesheet" href="{{ site.reveal_theme_path }}{{ site.reveal_theme }}" id="theme">
{% if site.extra_css %}
	{% for css_file in site.extra_css %}
		<link rel="stylesheet" href="{{ css_file }}">
	{% endfor %}
{% endif %}

		<!-- For syntax highlighting -->
		{% if site.highlight_style_sheet %}
			{% assign highlight_style_sheet = site.highlight_style_sheet %}
		{% else %}
			{% capture highlight_style_sheet %}{{ site.reveal_path }}lib/css/zenburn.css {% endcapture %}
		{% endif %}
		<link rel="stylesheet" href="{{ highlight_style_sheet }}">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="{{ site.reveal_path }}css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="{{ site.reveal_path }}lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

				{% for post in site.posts reversed %}
				<section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$" data-notes="^Note:">
					<script type="text/template">
{%
						assign lines = post.content | newline_to_br | strip_newlines | split: "<br />"
%}{%
						for line in lines
%}{% 
							assign processed_line = line
								| replace:'<fragment/>','<!-- .element: class="fragment" -->'
								| replace:'<background>','<!-- .slide: data-background="'
								| replace:'</background>','" -->'
								| replace:'<backgroundimage>','<!-- .slide: data-background="'
								| replace:'</backgroundimage>','" --> '
								| replace:'<backgroundimageopacity>','<!-- .slide: data-background-opacity="'
								| replace:'</backgroundimageopacity>','" -->'
%}{%
							assign first_char = line | strip
								| slice: 0,1
%}{%
							if first_char == '+'
%}{%
								assign processed_line = processed_line
									| replace_first: '+','+ <!-- .element: class="fragment" -->'
%}{%
							endif
							%}{{ processed_line }}{% comment %}Following line break is important{% endcomment %}
{%
						endfor
%}
					</script>
				</section>
				{% endfor %}

			</div>

		</div>

		<script src="{{ site.reveal_path }}lib/js/head.min.js"></script>
		<script src="{{ site.reveal_path }}js/reveal.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: '{{ site.reveal_transition }}', // default/cube/page/concave/zoom/linear/fade/none

				{% if site.reveal_options %}
					{% if site.reveal_options.first.first %}
						// Reveal options generated from mapping
						{% for option in site.reveal_options %}
							{{ option[0] }}: "{{ option[1] }}",
						{% endfor %}
					{% else %}
						// Reveal options generated from a list of strings
						{{ site.reveal_options | append:',' }}
					{% endif %}
				{% endif %}

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{ site.reveal_path }}lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{ site.reveal_path }}plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.reveal_path }}plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.reveal_path }}plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{ site.reveal_path }}plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{% if site.reveal_notes_server %}
					{ src: '{{ site.reveal_path }}socket.io/socket.io.js', async: true },
					{ src: '{{ site.reveal_path }}plugin/notes-server/client.js', async: true }
					{% else %}
					{ src: '{{ site.reveal_path }}plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					{% endif %}
					{% if site.reveal_dependencies %}
					, {{ site.reveal_dependencies }}
					{% endif %}
				]
			});

		</script>

	</body>
</html>
